
@import "https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap";
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import "./helpers/variables.scss";
@import "./helpers/mixins.scss";
@import "./tooltip.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,html {
	font-family: 'Press Start 2P', cursive;
	font-size: $font-m;
	user-select: none;
	background: black;
	color: $darkteal
}
button {
	border: none;
	background: none;
	cursor: pointer;
	outline: none;
	color: $darkteal;
}
.container {
	width: 800px;
	height: 916px;
	display: block;
	margin: 0 auto;
	padding: 40px 20px 10px;
	border: 10px solid white;
	background: $beige;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@include gradientBorder(10px, $darkteal, $lightteal)
}
.font-s {
	font-size: $font-s;
}
.font-l {
	font-size: $font-l;
}
.pointer {
	cursor: pointer;
}
.text-center {
	text-align: center;
}
.justify-end {
	justify-content: flex-end;
}
.big-title {
	@include text-shadow;
	font-size: 50px;
	color: $lightteal;
	text-transform: uppercase;
}
.title {
	font-size: $font-l;
	text-align: center;
	margin-bottom: 10px;
}
.input-text {
	padding: 5px 10px;
	border: 3px solid transparent;
	outline: none;
	border-color: $lightteal
}
.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.main-wrap {
	position: relative;
	z-index: 10;
	display: flex;
	align-items: center;
	height: 100vh;
	&__bg {
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		height: 100vh;
		display: block;
		z-index: 1;
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
		filter: blur(5px)
	}
}
.intro {
	&__title, &__subtitle {
		color: $lightteal;
		@include text-shadow;
		font-size: 70px;
		text-align: center;
		font-weight: bold;
		margin: 0;
	}
	&__subtitle {
		color: $darkteal;
		font-size: 40px;
		margin-top: 10px;
	}
	&__main-img {
		display: block;
		margin: 40px auto 80px auto;
	}
	&__btns-wrap {
		display: flex;
		flex-direction: column;
		align-items: center;;
		button {
			margin: 5px 0;
			position: relative;
			&:before {
				display: none;
				content: "";
				border: 7px solid transparent;
				border-left-color: $red;
				margin-right: 10px;
				position: absolute;
				left: -20px;
				top: 0;
			}
			&:hover:before {
				display: inline-block;
			}
		}
	}
}

.heroChoose {
 	&__heroes {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__hero {
		margin: 0 20px;
		padding: 8px;
		border: 5px solid transparent;
		&.chosen {
			@include gradientBorder(4px, $darkteal, $lightteal)
		}
	}
	&__name-wrap {
		margin: 30px 0;
	}
	&__name-input {
		width: 400px;
		
	}
	&__table-wrap {
		margin: 10px 0 30px 0;
	}
	&__table-descr {
		margin-bottom: 10px;
		min-height: 72px;
	}

	&__btn-wrap {
		margin-top: 40px;
		text-align: center;
	}
}

.btn {
	background: $lightteal;
	padding: 10px 20px;
	font-size: $font-l;
}
.table {
	margin: 10px 0;
	border-collapse: collapse;
	width: 100%;
	tr {
		border: 2px solid $darkteal;
		padding: 2px;
		&.no-border {
			border: none;
		}
	}
	td {
		padding: 4px;
		&.no-padding {padding: 0;}
		&:not(:last-of-type) {border-right: 2px solid $darkteal}
	}
}
.difficulty {
	margin: 20px 0;
	&__title {
		margin-bottom: 10px;
	}
	&__items-wrap {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		width: 30%;
		padding: 5px 10px;
		&.active {
			background: $darkteal;
			color: $beige;
		}
	}
}

.battle {
	&__round {
		text-align: center;
		margin-bottom: 20px;
	}
	&__subtitle {
		@include text-shadow;
		font-size: 30px;
		color: $darkteal;
		text-transform: uppercase;
	}
	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
		background: url(../img/ground.jpg) bottom center no-repeat ;
		background-size: 100%;
		padding-bottom: 20px;
		position: relative;
		&:after {
			width: 100%;
			height: 30px;
			display: inline-block;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			background: url(https://www.pixelscrapper.com/sites/default/files/styles/456_scale_watermark_premium/public/s3fs-user-content/asset-image/user-310/node-9559/miracle-clouds-asset-other-embellishment-sky-white.png);
		}

	}
	&__img-wrap {
		min-height: 115px;
		display: flex;
		align-items: flex-end;
		margin-top: 10px;
		position: relative;
	}
	&__monster {
		text-align: right;
		width: 40%;
	}
	&__hero {
		width: 40%;
		overflow: hidden;
		align-self: flex-end;
	}
	&__phrases-wrap {
		align-self: center;
		margin-right: 10px;
	}
}
.healthbar {
	&__imgs {
		margin: 10px 0;
	}
	&__img {
		display: inline-block;
		margin-left: 5px;
	}
	&__numeric-health {
		width: 100%;
	}
}
.controls {
	margin: 20px 0 40px 0;
	
	&__attacks {
		display: flex;
	}
	&__btn-wrap {
		display: flex;
		align-items: center;
	}
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 90px;
		height: 90px;
		border: 3px solid $darkteal;
		margin-right: 10px;
		background: $lightteal;
		position: relative;
		img {
			display: block;
			max-height: 80px;
			max-width: 80px;
		}
	}
	&__section {
		margin-bottom: 10px;
	}
	&__section-title {
		margin-bottom: 10px;
	}
		&__img-wrap {
		display: inline-block;
		&.active {
			cursor: default;
			&:after {
				display: inline-block;
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				background: rgba(0,0,0, .5);
				z-index: 10;
			}
		}
	}
}
.not-ready-control-btn {
	position: relative;
	&:after {
		display: inline-block;
		content: '';
		position: absolute;
		width: 90px;
		height: 90px;
		left: 0;
		top: 0;
		background: rgba(0,0,0, .5);
		z-index: 10;
	}
}
.log {
	&__title {
		margin-bottom: 10px;
	}
	&__box {
		border: 3px solid $darkteal;
		padding: 10px 20px;
		p:first-of-type {
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px dotted $darkteal;
		}
	}
}
.phrases {
	background: white;
	border: 3px solid $darkteal;
	padding: 10px;
	border-radius: 15px;
	text-align: center;
	position: relative;
	width: 180px;
	&:before, &:after {
		display: inline-block;
		content: "";
		border: 11px solid transparent;
		border-left-color: white;
		position: absolute;
		right: -20px;
		top: 20px;
		z-index: 10;
	}
	&:after {
		border-width: 13px;
		border-left-color: $darkteal;
		z-index: 9;
		right: -26px;
		top: 18px;
	}
}
.overlay {
	position: fixed;
	display: grid;
	align-items: start;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.7);
	height: 100vh;
	padding: 200px 0;
	z-index: 1000;
}
.popup {
	width: 100%;
	margin: 0 auto;
	max-width: 500px;
	min-height: auto;
	padding: 40px 20px;
	background: $beige;
	display: grid;
	grid-gap: 40px;
	justify-content: center;
	text-align: center;
	@include gradientBorder(10px, $darkteal, $lightteal);
	&__title {
		font-size: $font-l;
		text-transform: uppercase;
		color: $darkteal;
	}
}
.console {
	color: white;
	padding: 40px 20px 0 20px;
	background: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	//before element is used here in order to
	//prevent clicking outside console
	//and keep focus on input
	&:before {
		display: block;
		content: "";
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		background: transparent;
		height: 100vh;
		z-index: -1;
	}
	&__item {
		color: white;
		margin-bottom: 10px;
		&_log {
			margin-bottom: 40px;
		}
	}
	&__box {
		margin-top: 40px;
	}
	&__input {
		display: block;
		width: 100%;
		caret-color: white;
		background: transparent;
		border: 0;
		outline: 0;
		color: white;
	}
}

.monstropedia {
	&__search {
		margin: 40px 0;
		width: 100%;
	}
	&__item {
		display: grid;
		grid-template-columns: 200px 1fr;
		grid-template-rows: repeat(4,1fr);
		border: 2px solid $darkteal;
		margin-bottom: 20px;
	}
	&__item-img-wrap {
		grid-row: 1/5;
		// border is flipped
		border-left: 2px solid $darkteal;
		display: flex;
		justify-content: center;
		align-items: center;
		// flips div to right
		transform: scaleX(-1);
	}
	&__item-row {
		padding: 2px 5px;
		display: flex;
		align-items: center;
		&:not(:last-of-type) {
			border-bottom: 2px solid $darkteal;
		}
	}
	&__btn-wrap {
		margin-top: 40px;
	}
}
.how-to {
	&__item {
		margin-bottom: 10px;
		border-bottom: 1px solid $darkteal;
		padding: 10px 0;
		overflow: hidden;
		p:not(:first-of-type) {
			margin-top: 10px;
		}
	}
	&__item-img {
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	&__btn-wrap {
		margin: 20px 0;
	}
}