
@import "https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap";
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import "./helpers/variables.scss";
@import "./helpers/mixins.scss";

@mixin text-shadow {
	text-shadow: 2px 2px 2px black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,html {
	font-family: 'Press Start 2P', cursive;
	font-size: $font-m;
	user-select: none;
	background: black;
	color: $darkteal
}
button {
	border: none;
	background: none;
	cursor: pointer;
	outline: none;
	color: $darkteal;
}
p:not(:last-of-type) {
	margin-bottom: 5px;
}
.container {
	width: 800px;
	height: 916px;
	display: block;
	margin: 0 auto;
	padding: 40px 20px 10px;
	border: 10px solid white;
	background: $beige;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@include gradientBorder(10px, $darkteal, $lightteal)
	// border: 10px solid;
	// border-image-slice: 1;
	// border-width: 10px;
    // border-image-source: linear-gradient(to left, $darkteal, $lightteal);
}
.font-s {
	font-size: $font-s;
}
.font-l {
	font-size: $font-l;
}
.pointer {
	cursor: pointer;
}
.text-center {
	text-align: center;
}
.text-simple {
	font-size: $font-m;
	color: white;
	@include text-shadow;
}
.footer {
	// margin-top: 120px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.intro {
	&__title, &__subtitle {
		color: $lightteal;
		@include text-shadow;
		font-size: 70px;
		text-align: center;
		font-weight: bold;
	}
	&__subtitle {
		color: $darkteal;
		font-size: 40px;
		margin-top: 10px;
	}
	&__main-img {
		display: block;
		margin: 40px auto 80px auto;
	}
	&__btns-wrap {
		display: flex;
		flex-direction: column;
		align-items: center;;
		button {
			margin: 5px 0;
			position: relative;
			&:before {
				display: none;
				content: "";
				width: 10px;
				height: 10px;
				background: $red;
				margin-right: 10px;
				position: absolute;
				left: -25px;
				top: 5px;
			}
			&:hover:before {
				display: inline-block;
			}
		}
	}
}
.title {
	font-size: $font-l;
	text-align: center;
	margin-bottom: 20px;
}
.heroChoose {
 	&__heroes {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__hero {
		margin: 0 20px;
		padding: 8px;
		border: 5px solid transparent;
		&.chosen {
			@include gradientBorder(4px, $darkteal, $lightteal)
		}
	}
	&__name-wrap {
		margin: 20px 0;
	}
	&__name-input {
		width: 400px;
		padding: 5px 10px;
		border: 3px solid transparent;
		outline: none;
		border-color: $lightteal

	}
	&__table-wrap {
		margin: 20px 0;
	}
	&__table-descr {
		margin-bottom: 20px;
		min-height: 72px;
	}
	&__table {
		width: 100%;
		margin: 20px 0;
	}
	&__btn-wrap {
		margin-top: 40px;
		text-align: center;
	}
}
table {
	border-collapse: collapse;
	width: 100%;
	&>tr, &>td {
		border: 1px solid red;
	}
}
tr,td {
}
// tr {
// 	background: $lightteal; //temp
// 	padding: 5px 10px;
// }
.btn {
	background: $lightteal;
	padding: 10px 20px;
	font-size: $font-l;
}
.difficulty {
	margin: 20px 0;
	&__title {
		margin-bottom: 10px;
	}
	&__items-wrap {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		width: 30%;
		padding: 5px 10px;
		&.active {
			background: $darkteal;
			color: $beige;
		}
	}
}
